static/img
static/datasets
__pycache__
static/img
static/models
static/train_img
datasets.sqlite3
movie_item.zip
predicted
1.csv
mov.csv
mv 2.csv
mv 3.csv
mv 4.csv
mv 5.csv
mv 6.csv
mv 7.csv
mv.csv
tmp2.pkl
xx.pkl
movie_item.zip
bin
datasets.sqlite3