{% extends 'base.html' %}

{% block head %}
<title>Upload file</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
{% endblock %}

{% block body %}
<div class="container" style="text-align: center;">
   
        <h1>Statistic about your inputs dataset</h1>
        <p>sparsity of given dataset is {{x.sparsity}}</p>
        <div class="row">
            <p>in this graph we can see how many items rated how many users and how many users rated item</p>
            <div class="col-xs-6" style="width:50%">
                <canvas id="user_item_reduced_graph" ></canvas>
            </div>
            <div class="col-xs-6" style="width:50%">
                <canvas id="item_user_reduced_graph" ></canvas>
            </div>
        </div>
        <div class="row">
            <p>in this graph we can see how many items rated how many users and how many users rated item</p>
            <div class="col-xs-6" style="width:50%">
                <canvas id="user_item_all_graph" ></canvas>
            </div>
            <div class="col-xs-6" style="width:50%">
                <canvas id="item_user_all_graph"></canvas>
            </div>
        </div>
        <div style="margin-top: 10%;">
            <p>in this graph we can see number of ratings</p>
            <canvas id="ratings_stats_graph" ></canvas>
        </div>
        <div style="margin-top: 10%;">
            <p>in this graph we can see scatter how users rated items</p>
            <canvas id="scatter_graph" ></canvas>
        </div>
           
       
        </div>
        
        
      
 
    
  </div>


  <script>

// this codes for charts are taken and modificated from : https://www.chartjs.org

      let tmp = JSON.parse("{{ scatter }}")

        let scatter = []
        
      for (var i = 0; i < tmp.length; i++) {
        let tmp_dic = {}
            tmp_dic["x"] = tmp[i][1]
            tmp_dic["y"] = tmp[i][0]
            scatter.push(tmp_dic)
            }

    console.log(scatter)

    const user_item_reduced = document.getElementById('user_item_reduced_graph').getContext('2d');
    const user_item_reduced_graph = new Chart(user_item_reduced, {
        
    type: 'bar',
    data: {
        labels: ["1", "2", "3-5", "6-9", "10-15", "15-29", "30-49", "50-99", "100-199", "200-499", "500-999", ">=1000"],
        datasets: [{
            label: 'number of rated items',
            data: JSON.parse("{{ user_reduced }}"),
            borderColor: 'rgb(102,139,255)',
            backgroundColor: 'rgb(102,139,255)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                title: {
                    display: true,
                    text: 'items'
                    }
            },

            x: {
                title: {
                    display: true,
                    text: 'Number of users rated item'
                    }
            }
            
        }
    }
});

const item_user_reduced = document.getElementById('item_user_reduced_graph').getContext('2d');
const item_user_reduced_graph = new Chart(item_user_reduced, {
    type: 'bar',
    data: {
        labels: ["1", "2", "3-5", "6-9", "10-15", "15-29", "30-49", "50-99", "100-199", "200-499", "500-999", ">=1000"],
        datasets: [{
            label: 'how many users',
            data: JSON.parse("{{ item_reduced }}"),
            borderColor: 'rgb(102,139,255)',
            backgroundColor: 'rgb(102,139,255)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                title: {
                    display: true,
                    text: 'number of users'
                    }
            },

            x: {
                title: {
                    display: true,
                    text: 'number of items'
                    }
            }
            
        }
    }
});






const user_item_all = document.getElementById('user_item_all_graph').getContext('2d');
const user_item_all_graph = new Chart(user_item_all, {
    type: 'bar',
    data: {
        labels: JSON.parse("{{ user_all_item }}"),
        datasets: [{
            label: 'number of rated items',
            data: JSON.parse("{{ user_all_user }}"),
            borderColor: 'rgb(102,139,255)',
            backgroundColor: 'rgb(102,139,255)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                title: {
                    display: true,
                    text: 'items'
                    }
            },

            x: {
                title: {
                    display: true,
                    text: 'users id'
                    }
            }
            
        }
    }
});





const item_user_all = document.getElementById('item_user_all_graph').getContext('2d');
const item_user_all_graph = new Chart(item_user_all, {
    type: 'bar',
    data: {
        labels: JSON.parse("{{ item_all_user }}"),
        datasets: [{
            label: 'number users',
            data: JSON.parse("{{ item_all_item }}"),
            borderColor: 'rgb(102,139,255)',
            backgroundColor: 'rgb(102,139,255)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                title: {
                    display: true,
                    text: 'number of users'
                    }
            },

            x: {
                title: {
                    display: true,
                    text: 'items id'
                    }
            }
            
        }
    }
});











const data = {
  datasets: [{
    label: 'how many users rated rated',
    data: scatter,
    borderColor: 'rgb(102,139,255)',
    backgroundColor: 'rgb(102,139,255)'
  }],
};

const scatter_g = document.getElementById('scatter_graph').getContext('2d');
const scatter_graph = new Chart(scatter_g, {
    type: 'scatter',
    data: data,
    options: {
        scales: {
            y: {
                beginAtZero: true,
                title: {
                    display: true,
                    text: 'Number of ratings'
                    }
            },

            x: {
                title: {
                    display: true,
                    text: 'Number of users'
                    }
            }
            
        }
    }
});


const ratings_stats = document.getElementById('ratings_stats_graph').getContext('2d');
const ratings_stats_graph = new Chart(ratings_stats, {
    type: 'bar',
    data: {
        labels: JSON.parse("{{ ratings }}"),
        datasets: [{
            label: 'number of ratings ',
            data: JSON.parse("{{ counts }}"),
            backgroundColor: 'rgb(102,139,255)',
            borderColor: 'rgb(102,139,255)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                title: {
                    display: true,
                    text: 'count'
                    }
            },

            x: {
                title: {
                    display: true,
                    text: 'values in rated scale'
                    }
            }
            
        }
    }
});



  </script>


{% endblock %}