{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
<title>Statistic</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Statistic about your inputs dataset</h1>
    <p>sparsity of given dataset is {{x.sparsity}}</p>

    <div>
        <p>in this graph we can see sparsit of matrix</p>
        <picture class="pct">
            <source srcset="{{x.path_img_stats_sparsity}}" media="all">
            <img width="1000" height="500" src="">
          </picture>
    </div>

    <div>
        <p>in this graph we can see how many items rated how many users and how many users rated item</p>
        <picture>
            <source srcset={{x.path_img_stats_all}} width="1500" heigth="1500">
            <img src="">
          </picture>
    </div>

    <div>
        <p>in this graph we can see how many users rated item all</p>
        <picture>
            <source srcset={{x.path_img_stats_reduced}} width="1500" heigth="1500">
            <img src="">
          </picture>
    </div>

    <div>
        <p>in this graph we can see scatter how users rated items</p>
        <picture>
            <source srcset={{x.path_img_stats_scatter}} >
            <img src="">
          </picture>
    </div>
    

 
   
</div>



{% endblock %}