{% extends 'base.html' %}

{% block head %}
<title>Upload file</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">


 
        <h1 class="txt">Results of trainig</h1>
    
        <ul class="list-group">
            <li id="rmse" class="list-group-item active"></li>
            <li id="alg" class="list-group-item"></li>
            <li id="lr" class="list-group-item"></li>
            <li id="steps" class="list-group-item"></li>
            <li id="time" class="list-group-item"></li>
            <li class="list-group-item">
    
                <div class="btn-group" role="group" aria-label="Basic example">
                    <form  action="train_model" method="post" >
                        <p class="show">try another algothitms: </p>
    
                        <button type="submit" class="show btn btn-primary" name="type" value="sgd">SGD</button>
            
                        <button type="submit" class="show btn btn-primary" name="type" value="svd">SVD</button>
             
                
            
                        <button type="submit" class="show btn btn-primary" name="type" value="als">ALS</button>
            
            
                        <button type="submit" class="show btn btn-primary" name="type" value="all">ALL</button>
                    </form>
                  </div>
            </li>
            
          </ul>
          
          <div class="row">
            
            <div class="col-xs-6" style="width:50%">
                <canvas id="myChart" ></canvas>
            </div>
            <div class="col-xs-6" style="width:50%">
              <canvas id="myChart3" ></canvas>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6" style="width:100%">
            <canvas id="myChart2" ></canvas>
        </div>
        </div>
        
           
        
        

        
    </div>


  <script>

    

    let min_values = {}    

    let min_sgd = 1000
    let min_svd = 1000
    let min_als = 1000
    

    let sgd_steps = {}
    let sgd_lr = {}
    let sgd_time = {}
    let svd_lr = {}
    let svd_steps = {}
    let svd_time = {}
    let als_lr = {}
    let als_steps = {}
    let als_time = {}
    

    if("{{ sgd_time }}" != "None") {
       
        sgd_time = make_dict_for_scatter(JSON.parse("{{ sgd_time }}"),"sgd")
        sgd_steps = make_dict_for_scatter(JSON.parse("{{ sgd_steps }}"),"sgd")
        sgd_lr = make_dict_for_scatter(JSON.parse("{{ sgd_lr }}"),"sgd")

    }

    if("{{ als_time }}" != "None") {
       
        als_time = make_dict_for_scatter(JSON.parse("{{ als_time }}"),"als")
        als_steps = make_dict_for_scatter(JSON.parse("{{ als_steps }}"),"als")
        als_lr = make_dict_for_scatter(JSON.parse("{{ als_lr }}"),"als")
        
    }

    if("{{ svd_time }}" != "None") {
      
        svd_time = make_dict_for_scatter(JSON.parse("{{ svd_time }}"),"svd")
        svd_steps = make_dict_for_scatter(JSON.parse("{{ svd_steps }}"),"svd")
        svd_lr = make_dict_for_scatter(JSON.parse("{{ svd_lr }}"),"svd")
    }

    function   add_min_to_alg(alg) {
       let min = 0

        if (alg == "als") {
          min = min_als
        } else if (alg == "sgd") {
          min = min_sgd
        } else {
          min = min_svd
        }
       
        return min
    }

    function   add_min_to_alg_2(alg,min) {
   

        if (alg == "als") {
          min_als = min
        } else if (alg == "sgd") {
          min_sgd = min
        } else {
          min_svd = min
        }
       
       
    }

    function   make_tmp_dic(dic) {
      let tmp_dic = {}
            
      tmp_dic["y"] = dic[0]
      tmp_dic["x"] = dic[1]     

      return tmp_dic

    }

    function   make_dict_for_scatter(tmp, alg) {
        let scatter = []
        let min = 0

        
        
        min = add_min_to_alg(alg)
        tmp_min = 999

        if (tmp_min < min) {

          for (var i = 0; i < tmp.length; i++) {
      
            if (tmp[i][0] < tmp_min ) {
              tmp_min = tmp[i][0]
            }
            
            scatter.push(make_tmp_dic(tmp[i]))
          }

          add_min_to_alg_2(alg,tmp_min)
        } else {

          for (var i = 0; i < tmp.length; i++) { 
           scatter.push(make_tmp_dic(tmp[i]))
          
          }

        }
        
        return scatter
    }


   function find_index(arr, min) {
        for (var i = 0; i < arr.length; i++) { 
              if (arr[i]["y"] == min) {
                return i
              }
          }
   }

   function get_min_dict(lr,steps,time,min) {
     let tmp_dic = {}
     let index = find_index(lr,min)
     tmp_dic["lr"] = lr[index]["x"]
     tmp_dic["steps"] = steps[index]["x"]
     tmp_dic["time"] = time[index]["x"]
     tmp_dic["min"] = min
     return tmp_dic
   }

    
    function find_min() {
      let min = 0
      let index = 0
      min = Math.min.apply(Math,[min_als,min_sgd,min_svd])

      if (min == min_als) {
        min_values = get_min_dict(sgd_lr,sgd_steps,sgd_time,min)
        min_values['alg'] = "sgd"
      } else if (min == min_sgd) {
        min_values = get_min_dict(als_lr,als_steps,als_time,min)
        min_values['alg'] = "als"
      } else {
        min_values = get_min_dict(svd_lr,svd_steps,svd_time,min)
        min_values['alg'] = "svd"
      } 
  }

  window.onload = function() {
       //when the document is finished loading, replace everything
       //between the <a ...> </a> tags with the value of splitText
      document.getElementById("rmse").innerHTML="RMSE: " + min_values["min"].toString()
      document.getElementById("alg").innerHTML= "Alghoritm : " + min_values["alg"]
      document.getElementById("lr").innerHTML= "Learning rate : " + min_values["lr"].toString()
      document.getElementById("steps").innerHTML= "Steps : " + min_values["steps"].toString()
      document.getElementById("time").innerHTML= "Time : " + min_values["time"].toString() + " s"
    } 
  find_min()
  console.log(min_values)
  
      
const data_time = {
  datasets: [{
    label: 'SGD',
    data: sgd_time,
    backgroundColor: 'rgb(255, 99, 132)'
  },
  {
    label: 'ALS',
    data: als_time,
    backgroundColor: 'rgb(100, 199, 32)'
  },
  {
    label: 'SVD',
    data: svd_time,
    backgroundColor: 'rgb(0,0,128)'
  }
],
};

const ctx3 = document.getElementById('myChart3').getContext('2d');
const myChart3 = new Chart(ctx3, {
    type: 'scatter',
    data: data_time,
    options: {
      responsive: true,
       plugins: {
        title: {
        display: true,
        text: 'Rmse depending on Learning time'
        }
      },
        scales: {
            y: {
                
                title: {
                    display: true,
                    text: 'rmse'
                    }
            },

            x: {
                title: {
                    display: true,
                    text: 'time in [s]'
                    }
            }
            
        }
    }
});

const data_steps = {
  datasets: [{
    label: 'SGD',
    data: sgd_steps,
    backgroundColor: 'rgb(255, 99, 132)'
  },
  {
    label: 'ALS',
    data: als_steps,
    backgroundColor: 'rgb(100, 199, 32)'
  },
  {
    label: 'SVD',
    data: svd_steps,
    backgroundColor: 'rgb(0,0,1282)'
  }
],
};

const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'scatter',
    data: data_steps,
    options: {
      responsive: true,
       plugins: {
        title: {
        display: true,
        text: 'Rmse depending on steps'
        }
      },
        scales: {
            y: {
                
                title: {
                    display: true,
                    text: 'rmse'
                    }
            },

            x: {
                title: {
                    display: true,
                    text: 'steps'
                    }
            }
            
        }
    }
});




const data_lr = {
  datasets: [{
    label: 'SGD',
    data: sgd_lr,
    backgroundColor: 'rgb(255, 99, 132)'
  },
  {
    label: 'ALS',
    data: als_lr,
    backgroundColor: 'rgb(100, 199, 32)'
  },
  {
    label: 'SVD',
    data: svd_lr,
    backgroundColor: 'rgb(0,0,128)'
  }
],
};

const ctx2 = document.getElementById('myChart2').getContext('2d');
const myChart2 = new Chart(ctx2, {
    type: 'scatter',
    data: data_lr,
    options: {
      responsive: true,
       plugins: {
        title: {
        display: true,
        text: 'Rmse depending on Learning rate'
        }
      },
        scales: {
            y: {
                
                title: {
                    display: true,
                    text: 'rmse'
                    }
            },

            x: {
                title: {
                    display: true,
                    text: 'Learning rate',
                    type: 'logarithmic',
                    }
            }
            
        }
    }
});



  </script>


{% endblock %}