{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/train.css') }}">
<title>Upload file</title>
{% endblock %}

{% block body %}

<div class="container">


<div class="content">

    <h1 class="txt">Results of trainig</h1>

    <ul class="list-group">
        <li class="list-group-item active">minumal RMSE was {{x.train_rmse}}</li>
        <li class="list-group-item">alghoritm: {{x.train_alg}}</li>
        <li class="list-group-item">learning rate: {{x.train_lr}}</li>
        <li class="list-group-item">steps: {{x.train_steps}}</li>
        <li class="list-group-item">

            <div class="btn-group" role="group" aria-label="Basic example">
                <form  action="train_model" method="post" >
                    <p class="show">try another algothitms: </p>

                    <button type="submit" class="show btn btn-primary" name="type" value="sgd">SGD</button>
        
                    <button type="submit" class="show btn btn-primary" name="type" value="svd">SVD</button>
         
            
        
                    <button type="submit" class="show btn btn-primary" name="type" value="als">ALS</button>
        
        
                    <button type="submit" class="show btn btn-primary" name="type" value="all">ALL</button>
                </form>
              </div>
        </li>
        
      </ul>
      

    <div class="result">
        <p>in this graph we can see results of </p>
        <picture>
            <source srcset={{x.path_train_graph}} media="all">
            <img src="">
          </picture>
    </div>
    
</div>
    
</div>
{% endblock %}